
@font-face {
  font-family: Nunito;
  src: url("../src/fonts/Nunito/Nunito-VariableFont_wght.ttf");
  font-weight: normal;
}

body {
  width: 90%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  font-family: Nunito;
}

#title {
  width: 70%;
}

.description {
  width: 100%;

  & p {
    text-align: justify;
  }
}

.place {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}

.accordion {
  width: 100%;
}

.accordion-header {
  & a {
    text-decoration: none;
  }
}

.accordion-button {
  font-weight: bold;
}

.scroll-target {
  position: absolute;
  margin-top: -1.5em;
}

.map {
  height: auto;
  width: 400px;
}

#overview-map {
  width: 100%;
  height: 40em;
}

#google-form {
  width: 100%;
  height: 80em;
}

img {
  width: 100%;
}
