@font-face {
  font-family: Nunito;
  src: url("../src/fonts/Nunito/Nunito-VariableFont_wght.ttf");
  font-weight: normal;
}

:root {
  --primary-color: #5a0912;
  --bs-primary-text-emphasis: var(--primary-color);
  --bs-primary-bg-subtle: #ffe5e8;
}

body {
  width: 90%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-family: Nunito, sans-serif;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#title {
  width: 90%;
  margin: 0 5%;
}

h1 {
  font-size: 1.6em;
  font-weight: normal;
}

a {
  color: var(--primary-color);
}

.description {
  width: 100%;
}

.description p {
  text-align: justify;
}

.description h3 {
  width: 100%;
}

.place {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.accordion.single-item .accordion-item {
  border: none;
}

.accordion.single-item .accordion-header {
  padding: 0;
  background: none;
  font-size: 1.6em;
  font-weight: normal;
  width: fit-content;
  margin: 0;
}

.accordion.single-item .accordion-header::after {
  margin-left: 0.8em;
}

.accordion.single-item .accordion-body {
  border-left: solid 10px var(--primary-color);
}

.accordion, .unterkünfte {
  width: 100%;
}

.accordion-header a {
  text-decoration: none;
}

.accordion-button {
  font-weight: bold;
}

.scroll-target {
  position: absolute;
  margin-top: -1em;
}

.map {
  width: 100%;
  height: 30em;
}

.google-form {
  width: 100%;
  height: 80em;
}

img {
  width: 100%;
}

#signature {
  width: 12em;
}
