@font-face {
  font-family: Nunito;
  src: url("../src/fonts/Nunito/Nunito-VariableFont_wght.ttf");
  font-weight: normal;
}

:root {
  --primary-color: #7b0f1b;
  --bs-primary-text-emphasis: var(--primary-color);
  --bs-primary-bg-subtle: #ffe5e8;
}

body {
  width: 90vw;
  margin: 5vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: Nunito, sans-serif;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  margin: 1rem 0 0.5rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#title {
  width: 90%;
  margin: 0 5%;
}

h1 {
  font-size: 1.6rem;
  color: black;
}

h2 {
  font-size: 1.4rem;
}

a {
  color: var(--primary-color);
}

.description {
  width: 100%;
}

.description p {
  text-align: justify;
}

.text {
  margin-bottom: -1rem;
}

.description h3 {
  width: 100%;
}

.place {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#accordionMain {
  margin-bottom: -2rem;
}

.accordion.single-item h1 {
  margin: 0;
}

.accordion.single-item > .accordion-item {
  border: none;
  margin-bottom: 2rem;
}

.accordion.single-item > .accordion-item > .accordion-header {
  padding: 0;
  background: none;
  font-weight: normal;
  width: fit-content;
  margin: 0;
}

.accordion.single-item > .accordion-item > .accordion-header::after {
  margin-left: 0.8rem;
}

.accordion.single-item > .accordion-item > .accordion-collapse > .accordion-body {
  border-left: solid 10px var(--primary-color);
  padding-right: 0;
}

.accordion-header a {
  text-decoration: none;
}

.accordion-button {
  font-weight: bold;
}

.accordion-button:not(.collapsed) h1 {
  color: var(--primary-color);
}

#accordionForms .accordion-body {
  padding: 0.2rem 0;
}

#accordionForms .collapse-target > div {
  margin: 1rem;
}

.scroll-target {
  position: absolute;
  margin-top: -2rem;
}

.map {
  width: 100%;
  height: 30rem;
}

.google-form {
  width: 100%;
}

img {
  width: 100%;
}

#signature {
  width: 14rem;
  margin-bottom: 1rem;
}

#formRegistration {
  height: 80rem;
}

#formAccommodation {
  height: 84rem;
}

#formTraveling {
  height: 126rem;
}
